*.iml
.gradle
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/
*.class
*.tab
*.tab.values.at
misc.xml
*.jks
/app/libs
/app/release/release
